/* Fergus Haak - 31/07/2023 - Portfolio Website */

.gradient-background {
  background: linear-gradient(300deg, #9390bb, #212529, #212529);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.card-body {
  background-color: #2b3035;
  color: blac;
}

hr {
  border: dotted #eaf6f6 6px;
    border-bottom-width: 6px;
    border-bottom-style: dotted;
    border-bottom-color: rgb(234, 246, 246);
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}


.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}

.title {
  background-image: url("../images/mountain.jpg");
  background-position: 100%  calc(100% + 260px);
}

.text-body-emphasis {
  color: #c4a5c5 !important;
}


.hero-image {
  object-fit: cover;
  border-radius: 6em;
}

section #header {
  color: #c4a5c5 !important;
}

* {
  --bs-link-color: #c4a5c5;
  --bs-link-hover-color: #ebc4ed;
  --bs-nav-pills-link-active-color: ;
  --bs-nav-pills-link-active-bg: #b17db3;
}


:root {
  --background: #060608;
  --color: #FAFAFA;
}


.stack {
  display: grid;
  grid-template-columns: 1fr;
}

.stack span {
  font-weight: bold;
  grid-row-start: 1;
  grid-column-start: 1;
  font-size: 4rem;
  --stack-height: calc(100% / var(--stacks) - 1px);
  --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
  --clip-top: calc(var(--stack-height) * var(--index));
  --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
  clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
  animation: stack 340ms cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 120ms), glitch 2s ease infinite 2s alternate-reverse;
}

.stack span:nth-child(odd) { --glitch-translate: 8px; }
.stack span:nth-child(even) { --glitch-translate: -8px; }

@keyframes stack {
  0% {
    opacity: 0;
    transform: translateX(-50%);
    text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
  };
  60% {
    opacity: 0.5;
    transform: translateX(50%);
  }
  80% {
    transform: none;
    opacity: 1;
    text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
  }
  100% {
    text-shadow: none;
  }
}

@keyframes glitch {
  0% {
    text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    transform: translate(var(--glitch-translate));
  }
  2% {
    text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
  }
  4%, 100% {  text-shadow: none; transform: none; }
}
